@font-face {
  font-family: Comfortaa;
  src: url("@/styles/fonts/Comfortaa/Comfortaa-Regular-1.ttf");
}

:root {
  --R: 94;
  --G: 114;
  --B: 228;
  --H: 231;
  --S: 71;
  --L: 63;
  --theme-font: "Comfortaa", "Helvetica Neue", Helvetica, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  --el-bg-color-overlay: rgb(
    calc(var(--R) + (255 - var(--R)) * 0.92),
    calc(var(--G) + (255 - var(--G)) * 0.92),
    calc(var(--B) + (255 - var(--B)) * 0.92)
  );
  --el-popover-bg-color: var(--el-bg-color-overlay);
  --el-color-black: rgb(
    calc(25.8 + var(--R) * 0.14),
    calc(25.8 + var(--G) * 0.14),
    calc(25.8 + var(--B) * 0.14)
  );
  --el-text-color-primary: var(--el-color-black);
}

$R: var(--R);
$G: var(--G);
$B: var(--B);
$H: var(--H);
$S: var(--S);
$L: var(--L);
$primary: rgb($R, $G, $B);
$primary-border: 1px $primary solid;
$theme-border-radius: 4px;
$input-radius: var(--el-input-border-radius, var(--el-border-radius-base));
$input-color: var(--el-input-bg-color, var(--el-fill-color-blank));
$input-icon-color: #adb5bd;
$card-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

$light: rgb(
  calc($R + (255 - $R) * 0.92),
  calc($G + (255 - $G) * 0.92),
  calc($B + (255 - $B) * 0.92)
);
$light-linear: linear-gradient(
  150deg,
  hsl($H, calc($S * 1%), min(calc($L * 1% + 10%), 100%)) 15%,
  rgb($R, $G, $B) 70%,
  hsl($H, calc($S * 1%), max(calc($L * 1% - 2.5%), 0%)) 94%
);
$light-float: rgb(
  calc($R + (255 - $R) * 0.95),
  calc($G + (255 - $G) * 0.95),
  calc($B + (255 - $B) * 0.95)
);

$dark: rgb(
  calc(30 * 0.9 + $R * (1 - 0.9)),
  calc(30 * 0.9 + $G * (1 - 0.9)),
  calc(30 * 0.9 + $B * (1 - 0.9))
);
$dark-label: #959698;
$dark-linear: rgb(
  calc(30 * 0.86 + $R * (1 - 0.86)),
  calc(30 * 0.86 + $G * (1 - 0.86)),
  calc(30 * 0.86 + $B * (1 - 0.86))
);
$dark-float: hsl($H, calc($S * 1%), max(calc($L * 1% - 10%), 0%));

$theme-font: var(--theme-font);
