.light-container {
  @include theme-style("light", $light, $light-linear, $primary);
}

.dark-container {
  @include theme-style("dark", $dark, $dark-linear, $dark-float);
}

.card {
  border-radius: 6px;
  box-shadow: $card-shadow;
  animation: card-show 0.25s ease-out;
  transform-origin: center top;
}