.light-container {
  --el-border-color-lighter: rgba(0, 0, 0, 0.1);
  --el-border-color: rgba(0, 0, 0, 0.1);
  --el-border-color-light: rgba(0, 0, 0, 0.1);
  --el-bg-color-overlay: var(--light-input-bg);
  --el-bg-color: var(--light-input-bg);
  @include theme-style("light", $light, $light-linear, $primary);
}

.dark-container {
  --el-border-color-lighter: rgba(255, 255, 255, 0.1);
  --el-border-color: rgba(255, 255, 255, 0.1);
  --el-border-color-light: rgba(255, 255, 255, 0.1);
  --el-bg-color-overlay: var(--dark-deep-bg);
  --el-bg-color: var(--dark-deep-bg);
  @include theme-style("dark", $dark, $dark-linear, $dark-float);
}

.card {
  border-radius: $theme-card-radius;
  box-shadow: $card-shadow;
  animation: card-show 0.25s ease-out;
  transform-origin: center top;
}

.work-main {
  width: 100% !important;
}

.work-aside {
  animation: aside-hidden 0.5s forwards !important;
}
